.card {
  width: 590px;
  height: 200px;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button {
  background-color: #eff8fa;
  border: 2px solid #aec2da;
  width: 100%;
}
.responsive-card {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 500px;
}

@media (max-width: 576px) {
  .responsive-card {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }

  .responsive-card .card-body i {
    font-size: 1.5rem;
  }

  .responsive-card .card-title {
    font-size: 1rem;
  }
}
