<section>
  <div class="d-flex justify-content-between mt-5 ms-5">
    <div class="head">
      <h1 class="head fw-semibold">Admin Dashboard</h1>
      <p class="sub-head">Manage users and system settings</p>
    </div>
    <div class="me-5 mt-3">
      <!-- Button trigger modal Add user-->
      <button
        type="button"
        class="btn btn-primary rounded-3"
        data-bs-toggle="modal"
        data-bs-target="#AddUser"
      >
        <i class="fa-solid fa-user-plus me-2"></i>Add User
      </button>
      <!-- Modal Add user -->
      <div
        class="modal fade justify-content-center align-content-center"
        id="AddUser"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="Content">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Add New User
                </h1>
                <p>Create a new user account</p>
              </div>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="formreset()"
              ></button>
            </div>
            <div class="modal-body">
              @if (message) {
              <div
                class="alert"
                [ngClass]="{
                  'alert-success': messageType === 'success',
                  'alert-danger': messageType === 'error'
                }"
              >
                {{ message }}
              </div>
              }
              <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
                <div class="d-flex">
                  <div class="mb-3 w-50 me-2">
                    <label class="form-label">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="userName"
                    />
                    @if(addUserForm.get('userName')?.errors
                    &&addUserForm.get('userName')?.touched){
                    <div class="bg-warning text-center mt-2 p-2 rounded-2">
                      @if(addUserForm.get('userName')?.getError('required')){
                      <p class="m-0">User name is required</p>
                      }
                    </div>
                    }
                  </div>
                  <div class="mb-3 w-50">
                    <label class="form-label">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                    />
                    @if(addUserForm.get('password')?.errors
                    &&addUserForm.get('password')?.touched){
                    <div class="bg-warning text-center mt-2 p-2 rounded-2">
                      @if(addUserForm.get('password')?.getError('required')){
                      <p class="m-0">Password is required</p>
                      }
                    </div>
                    }
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />
                  @if(addUserForm.get('email')?.errors
                  &&addUserForm.get('email')?.touched){
                  <div class="bg-warning text-center mt-2 p-2 rounded-2">
                    @if(addUserForm.get('email')?.getError('required')){
                    <p class="m-0">Emaill address is required</p>
                    }
                  </div>
                  }
                </div>
                <div class="d-flex">
                  <div class="mb-3 w-50 me-2">
                    <label class="form-label">Phone</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="phone"
                    />
                    @if(addUserForm.get('phone')?.errors
                    &&addUserForm.get('phone')?.touched){
                    <div class="bg-warning text-center mt-2 p-2 rounded-2">
                      @if(addUserForm.get('phone')?.getError('required')){
                      <p class="m-0">Phone number is required</p>
                      }
                    </div>
                    }
                  </div>
                  <div class="mb-3 w-50">
                    <label class="form-label">Role</label>
                    <select class="form-select" formControlName="Role">
                      <option value="User">User</option>
                      <option value="Admin">Admin</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    type="button"
                    (click)="formreset()"
                  >
                    Cancel
                  </button>
                  <button class="btn btn-primary">Add User</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- table user -->
  <div class="table-card-style ms-5 mt-5">
    <div class="head mb-4">
      <h1 class="head fw-semibold">
        <i class="fa-solid fa-users me-3"></i>User Management
      </h1>
      <p class="sub-head">View and manage all registred users</p>
    </div>
    <div class="row">
      <table class="table fw-medium">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users; track user.id ;let i = $index) {
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="user.role === 'Admin' ? 'bg-primary' : 'bg-success'"
              >
                {{ user.role }}
              </span>
            </td>
            <td>
              <span
                class="badge"
                [ngClass]="user.isActive === true ? 'bg-primary' : 'bg-danger'"
              >
                {{ user.isActive ? "Active" : "Inactive" }}
              </span>
            </td>
            <td>
              <button
                class="btn button btn-sm me-1 rounded-3 text-dark fw-medium"
                (click)="toggleStatus(user.id)"
              >
                <i
                  [ngClass]="
                    user.isActive
                      ? 'fa fa-eye'
                      : 'fa fa-eye-slash'
                  "
                ></i>
                {{ user.isActive ? "Deactivate" : "Activate" }}
              </button>

              <!-- Button trigger modal Edit user -->
              <button
                type="button"
                class="btn button btn-sm me-1 rounded-3 text-dark fw-medium"
                data-bs-toggle="modal"
                data-bs-target="#EditUser"
                (click)="openEditUser(user, user.id)"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                class="btn button btn-sm rounded-3 text-dark fw-medium"
                (click)="deleteUser(user.id)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <!-- Modal Edit user -->
  <div
    class="modal fade justify-content-center align-content-center"
    id="EditUser"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="Content">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
            <p>Update user information</p>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="formreset()"
          ></button>
        </div>
        <div class="modal-body">
          @if (message) {
          <div
            class="alert mt-2"
            [ngClass]="{
              'alert-success': messageType === 'success',
              'alert-warning': messageType === 'warning'
            }"
          >
            {{ message }}
          </div>
          }
          <form [formGroup]="EditUserForm" (ngSubmit)="onUpdateUser()">
            <div class="d-flex">
              <div class="mb-3 w-50 me-2">
                <label class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="userName"
                />
                @if(EditUserForm.get('userName')?.errors
                &&EditUserForm.get('userName')?.touched){
                <div class="bg-warning text-center mt-2 p-2 rounded-2">
                  @if(EditUserForm.get('userName')?.getError('required')){
                  <p class="m-0">User name is required</p>
                  }
                </div>
                }
              </div>
              <div class="mb-3 w-50">
                <label class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
              />
              @if(EditUserForm.get('email')?.errors
              &&EditUserForm.get('email')?.touched){
              <div class="bg-warning text-center mt-2 p-2 rounded-2">
                @if(EditUserForm.get('email')?.getError('required')){
                <p class="m-0">Emaill address is required</p>
                }
              </div>
              }
            </div>
            <div class="d-flex">
              <div class="mb-3 w-50 me-2">
                <label class="form-label">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                />
                @if(EditUserForm.get('phone')?.errors
                &&EditUserForm.get('phone')?.touched){
                <div class="bg-warning text-center mt-2 p-2 rounded-2">
                  @if(EditUserForm.get('phone')?.getError('required')){
                  <p class="m-0">Phone number is required</p>
                  }
                </div>
                }
              </div>
              <div class="mb-3 w-50">
                <label class="form-label">Role</label>
                <select class="form-select" formControlName="Role">
                  <option value="User">User</option>
                  <option value="Admin">Admin</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                type="button"
                (click)="formreset()"
              >
                Cancel
              </button>
              <button class="btn btn-primary">Update User</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
