.card {
  width: 590px;
  height: 205px;
  margin-top: 250px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button {
  background-color: #eff8fa;
  border: 2px solid #aec2da;
  width: 100%;
}
.fixed-card {
  width: 590px;
}

@media (max-width: 768px) {
  .fixed-card {
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
