.card {
  width: 590px;
  height: 200px;
  margin-top: 250px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button {
  background-color: #eff8fa;
  border: 2px solid #aec2da;
  width: 100%;
}
