html,
body {
  height: 100%;
}
body {
  background: var(--bg);
  color: var(--text);
  font-family: Roboto, Arial, sans-serif;
}
:root {
  --main-color: #3b82f6;
  --secondary-color: #2ecc71;
  --bg: #fafbfd;
  --card: #ffffff;
  --text: #2a414d;
  --muted: #cacfd4;
}
