.bg-color {
  background-color: var(--main-color);
}
.active {
  background-color: #689af9;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
