<nav class="navbar navbar-expand-lg navbar-dark bg-color px-4">
  <div class="container-fluid pb-2 mt-1">
    <a class="navbar-brand"
      ><i class="fa-solid fa-building-columns"></i> SecureBank</a
    >
    <button
      class="navbar-toggler text-bg-secondary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-3">
        <li class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="/user/user-home"
            routerLinkActive="active"
            ><i class="fa-solid fa-house"></i> Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="/user/myAccount"
            routerLinkActive="active"
            ><i class="fa-solid fa-user"></i> My Account</a
          >
        </li>

        <li class="nav-item text-light">
          <a
            class="nav-link text-light"
            routerLink="/user/transactions"
            routerLinkActive="active"
            ><i class="fa-solid fa-money-check"></i> Transactions</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="/user/fund-transfer"
            routerLinkActive="active"
            ><i class="fa-solid fa-money-bill-transfer"></i> Transfer</a
          >
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center ms-auto">
      <span class="text-white me-3">Welcome, {{ username }}</span>
      <button class="btn btn-light px-3 py-1 fw-semibold" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
      </button>
    </div>
  </div>
</nav>
